:root {
    --background-dark: #080808;
    --backgroung-dark-alpha: #00000059;
    --navbar-dark: #111111;
    --primary-main: #5E0094;
    --primary-secondary: #AE37FF;
    --warning-main: #EB5300;
    --warning-secondary: #EE8247;
}
