body {
    padding: 0px;
    background-color: #080808;
}

.navbar-user-management {
    background-color: #111111;
    margin-bottom: 0px;
}

.div-button {
    width: 100%;
    text-align: center;
}

.div-main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.div-secondary {
    width: 50%;
    height: 95vh;
}

.div-form{
    background-color: white;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    width: 320px;
    border-radius: 10px;
}

.div-movies-background {
    background: url("../images/app/backgrounds/movies.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-primary {
    background-color: #5E0094;
    border-width: 0px;
}

.btn-primary:hover {
    background-color: #AE37FF;
}

.body-content {
    padding: 0px;
}

input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

@media (max-width: 900px) {
    .div-main {
        background: url("../images/app/backgrounds/movies.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .div-user-management {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.35);
    }

    .div-movies-background {
        width: 0%;
    }
}