<div *ngIf="media">



  <div class="div-main mt-5 justify-content-between flex-wrap">
    <img src="{{media?.posterLink}}" alt="" class="img-poster">
    <div class="div-movie-info-secondary">
      <h1 class="text-light">{{media?.title}}</h1>
      <h3 *ngIf="media?.rating === 0" class="text-light"><i class="bi bi-star-fill rating-icon"></i>-</h3>
      <h3 *ngIf="media?.rating !== 0" class="text-light"><i class="bi bi-star-fill rating-icon"></i>{{media.rating}}</h3>
      <h4 class="text-light">{{media?.releaseDate?.toDateString()}}</h4>
      <h5 class="text-light">{{duration}}</h5>
      <span *ngIf="media?.ageRating?.minAge < 13" class="badge rounded-pill text-light badge-success">{{media?.ageRating?.name}}</span>
      <span *ngIf="media?.ageRating?.minAge >= 13 && media?.ageRating?.minAge < 18" class="badge rounded-pill text-light badge-warning">{{media?.ageRating?.name}}</span>
      <span *ngIf="media?.ageRating?.minAge >= 18" class="badge rounded-pill text-light badge-danger">{{media?.ageRating?.name}}</span>
    </div>
    <div class="div-movie-info-description">
      <h5 class="text-light">{{media?.description}}</h5>
    </div>
  </div>

  <div class="div-main mt-5 justify-content-between flex-wrap">
    <iframe class="iframe-trailer" [src]="trailerLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <h1 class="text-light mt-10">
    <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Management panel
  </h1>

  <h2 class="text-light mt-5">Media</h2>

  <div class="div-main mt-3">
    <button type="submit" class="btn btn-lg btn-warning">
      <i class="bi bi-pencil"></i>&nbsp;&nbsp;Edit
    </button>
    <button type="submit" class="btn btn-lg btn-danger btn-delete">
      <i class="bi bi-trash"></i>&nbsp;&nbsp;Delete
    </button>
  </div>

  <h2 class="text-light mt-10">Directors</h2>

  <div class="div-main mt-3">
    <a routerLink="" class="staff-container">
      <img src="{{media.posterLink}}" alt="Photo" class="staff-photo">
      <div class="div-staff-info">
        <h5 class="text-light">Volodymyr Fedorenko</h5>
      </div>
    </a>
  </div>

  <h2 class="text-light mt-10">Actors</h2>

  <div class="div-main mt-3">
    <a routerLink="" class="staff-container">
      <img src="{{media.posterLink}}" alt="Photo" class="staff-photo">
      <div class="div-staff-info">
        <h5 class="text-light">Volodymyr Fedorenko</h5>
      </div>
    </a>
    <a routerLink="" class="staff-container">
      <img src="{{media.posterLink}}" alt="Photo" class="staff-photo">
      <div class="div-staff-info">
        <h5 class="text-light">Volodymyr Fedorenko</h5>
      </div>
    </a>
    <a routerLink="" class="staff-container">
      <img src="{{media.posterLink}}" alt="Photo" class="staff-photo">
      <div class="div-staff-info">
        <h5 class="text-light">Volodymyr Fedorenko</h5>
      </div>
    </a>
  </div>



</div>
