<div *ngIf="media">



  <div class="div-main mt-5 justify-content-between flex-wrap">
    <img src="{{media?.posterLink}}" alt="" class="img-poster">
    <div class="div-movie-info-secondary">
      <h1 class="text-light">{{media?.title}}</h1>
      <h2 class="text-light" *ngIf="isAdministrator">Id: {{media?.id}}</h2>
      <h3 *ngIf="media?.rating === 0" class="text-light"><i class="bi bi-star-fill rating-icon"></i>-</h3>
      <h3 *ngIf="media?.rating !== 0" class="text-light"><i class="bi bi-star-fill rating-icon"></i>{{media.rating}}</h3>
      <h4 class="text-light">{{media?.releaseDate?.toDateString()}}</h4>
      <h5 class="text-light">{{duration}}</h5>
      <h5 *ngIf="media.mediaType === MediaType.Series" class="text-light">Episodes: {{episodeCount}}</h5>
      <span class="badge rounded-pill text-light {{ageRatingBadge}}">{{media?.ageRating?.name}}</span>
      <div *ngIf="media.genres" class="div-genres">
        <span *ngFor="let genre of media.genres" class="badge rounded-pill text-light badge-light">{{genre.name}}</span>
      </div>
    </div>
    <div class="div-movie-info-description">
      <h5 class="text-light">{{media?.description}}</h5>
    </div>
  </div>

  <div class="div-main mt-5 justify-content-between flex-wrap">
    <iframe class="iframe-trailer" [src]="trailerLink" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>

  <h1 class="text-light mt-10" *ngIf="!isAdministrator">
    <i class="bi bi-info-square"></i>&nbsp;&nbsp;More info
  </h1>

  <div *ngIf="isAdministrator">
    <h1 class="text-light mt-10">
      <i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Management panel
    </h1>

    <h2 class="text-light mt-5">Media</h2>

    <div class="div-main mt-3">
      <button routerLink="../../../manage/medias/update/{{media.id}}" class="btn btn-lg btn-warning btn-margin">
        <i class="bi bi-pencil"></i>&nbsp;&nbsp;Update
      </button>
      <button routerLink="../../../manage/medias/delete/{{media.id}}" class="btn btn-lg btn-danger">
        <i class="bi bi-trash"></i>&nbsp;&nbsp;Delete
      </button>
    </div>
  </div>

  <h2 class="text-light mt-10">Directors</h2>

  <div class="div-main mt-3" *ngIf="isAdministrator">
    <button routerLink="../../../manage/medias/update/directors/{{media.id}}" class="btn btn-lg btn-warning">
      <i class="bi bi-pencil"></i>&nbsp;&nbsp;Update
    </button>
  </div>

  <div class="div-cards-container mt-3">
    <a *ngFor="let director of media.directors" routerLink="" class="staff-container">
      <img src="{{director.photoLink}}" alt="Photo" class="staff-photo">
      <div class="div-staff-info">
        <h5 class="text-light">{{director.firstName}} {{director.lastName}}</h5>
      </div>
    </a>
  </div>

  <h2 class="text-light mt-10">Actors</h2>

  <div class="div-main mt-3" *ngIf="isAdministrator">
    <button routerLink="../../../manage/medias/update/actors/{{media.id}}" class="btn btn-lg btn-warning">
      <i class="bi bi-pencil"></i>&nbsp;&nbsp;Update
    </button>
  </div>

  <div class="div-cards-container mt-3">
    <a *ngFor="let actor of media.actors" routerLink="" class="staff-container">
      <img src="{{actor.photoLink}}" alt="Photo" class="staff-photo">
      <div class="div-staff-info">
        <h5 class="text-light">{{actor.firstName}} {{actor.lastName}}</h5>
      </div>
    </a>
  </div>

  <div *ngIf="media.mediaType === MediaType.Series">
    <h2 class="text-light mt-10">Seasons</h2>

    <div class="div-main mt-3" *ngIf="isAdministrator">
      <button routerLink="../../../manage/medias/reorder/seasons/{{media.id}}" class="btn btn-lg btn-warning btn-margin">
        <i class="bi bi-arrow-down-up"></i>&nbsp;&nbsp;Reorder
      </button>
      <button routerLink="../../../manage/medias/create/season/{{media.id}}" class="btn btn-lg btn-success">
        <i class="bi bi-plus-circle"></i>&nbsp;&nbsp;Create
      </button>
    </div>
    <div class="div-cards-container mt-3">
      <a *ngFor="let season of media.seasons" routerLink="../../seasons/{{season.id}}" class="staff-container">
        <img src="{{season.posterLink}}" alt="Photo" class="staff-photo">
        <div class="div-staff-info">
          <h5 class="text-light">{{season.title}}</h5>
          <h6 class="text-light">Episodes: {{season.episodeCount}}</h6>
        </div>
      </a>
    </div>

  </div>



</div>
